@font-face {
  font-family: 'Hubot Sans';
  src: url('./assets/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('./assets/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('./assets/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 100 200 900;
  font-stretch: 60% 75% 125%;
}
* {
  box-sizing: border-box;
}
*::selection {
  background-color: black;
  color: white;
}
html {
  font-family: 'Hubot Sans';
  overflow-x: hidden;
}
body {
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
}
custom-header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  left: 0;
  padding: 1rem 0;
  /* border-bottom: 1px solid black; */
  z-index: 100;
}
custom-header .Button-Theme {
  margin-left: max(calc((100vw - 1000px) / 2), 1rem);
  height: 25px;
  width: 45px;
  padding: 0;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid black;
  position: relative;
  cursor: pointer;
}
custom-header .Button-Theme::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: black;
  transform: translateY(-50%);
  left: 2px;
  transition: left 0.2s;
  pointer-events: none;
}
custom-header .Button-Theme.Active::after {
  left: calc(100% - 20px);
}

custom-header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: max(calc((100vw - 1000px) / 2), 0rem);
  padding: 0 1rem;
  box-sizing: border-box;
}
custom-footer {
  padding-top: 8rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
a {
  color: black;
  opacity: 1;
  transition: opacity 0.2s;
}
a:hover,
a:focus {
  opacity: 0.6;
}
a:visited {
  color: inherit;
}
a:visited:hover,
a:visited:focus {
  opacity: 0.6;
}

section:first-of-type {
  padding-top: 5rem;
}
img {
  filter: grayscale(1);
  transition: filter 0.3s;
}
img:hover {
  filter: grayscale(0);
}

@media screen and (min-width: 600px) {
  section:first-of-type {
    padding-top: 10rem;
  }
}
hr {
  height: 3px;
  background-color: black;
  border: 0px solid black;
  margin-top: 2rem;
}
h1 {
  font-size: calc(min(1000px, 100vw) / 7);
  margin: 0;
}
h2 {
  font-size: 36px;
}
h3 {
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: calc(min(1000px, 100vw) / 7);
  }
}
.Dark {
  background-color: rgb(50, 50, 50);
  color: white;
}
.Dark hr {
  background-color: white;
}
.Dark custom-header {
  background-color: rgb(50, 50, 50);
}
.Dark input,
.Dark textarea,
.Dark select {
  background-color: rgb(63, 63, 63);
  color: white;
}
.Dark input:focus,
.Dark textarea:focus,
.Dark select:focus {
  outline-color: white;
}
.Dark input[type='submit'] {
  background-color: white;
  color: rgb(50, 50, 50);
}
.Dark *::selection {
  background-color: white;
  color: rgb(50, 50, 50);
}
.Dark .Button-Theme {
  border-color: white;
}
.Dark .Button-Theme::after {
  background-color: white;
}
.Dark a {
  color: white;
}
