@font-face {
  font-family: 'Hubot Sans';
  src: url('./assets/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('./assets/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('./assets/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 100 200 900;
  font-stretch: 60% 75% 125%;
}
* {
  box-sizing: border-box;
}
*::selection {
  background-color: black;
  color: white;
}
html {
  font-family: 'Hubot Sans';
}
body {
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
}
custom-header {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  background-color: white;
  left: 0;
  padding: 1rem 0;
  /* border-bottom: 1px solid black; */
  z-index: 100;
}
custom-header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: max(calc((100vw - 1000px) / 2), 0rem);
  padding: 0 1rem;
  box-sizing: border-box;
}
a {
  color: black;
  transition: color 0.2s;
}
a:hover,
a:focus {
  color: blue;
}
a:visited {
  color: inherit;
}
a:visited:hover,
a:visited:focus {
  color: blue;
}

section:first-of-type {
  padding-top: 5rem;
}
img {
  filter: grayscale(1);
  transition: filter 0.3s;
}
img:hover {
  filter: grayscale(0);
}

@media screen and (min-width: 600px) {
  section:first-of-type {
    padding-top: 10rem;
  }
}
