.Introduction {
  padding-top: 4rem;
  padding: 4rem 0;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.Introduction img {
  height: auto;
  /* filter: grayscale(1); */
  width: 100%;
}
.Introduction h1 {
  width: 100%;
}
.Introduction h1 > span {
  display: block;
}
.Introduction h1 .First-Name,
.Introduction h1 .Last-Name {
  font-size: calc(min(1000px, 100vw) / 5);
}
.Introduction h1 .Role {
  font-size: calc(min(1000px, 100vw) / 20);
}
.Introduction h1 .Areas {
  margin-top: 1rem;
}
.Introduction h1 .Areas span {
  font-size: calc(min(1000px, 100vw) / 30);
  font-weight: 200;
  margin-right: 0.5em;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
}
.Introduction h1 .Areas .React {
  color: rgb(8 126 164);
  border-color: rgb(8 126 164);
}
.Introduction h1 .Areas .JS {
  color: #c0af18;
  border-color: #c0af18;
}
.Introduction h1 .Areas .Build {
  color: rgb(195, 24, 24);
  border-color: rgb(195, 24, 24);
}
@media screen and (min-width: 600px) {
  .Introduction {
    flex-direction: row;
  }
  .Introduction h1 {
    width: 50%;
  }
  .Introduction h1 .First-Name,
  .Introduction h1 .Last-Name {
    font-size: calc(min(1000px, 100vw) / 7);
  }
  .Introduction h1 .Role {
    font-size: calc(min(1000px, 100vw) / 30);
  }
  .Introduction h1 .Areas span {
    font-size: calc(min(1000px, 100vw) / 50);
  }
  .Introduction img {
    width: 50%;
  }
}
