.Introduction {
  padding-top: 4rem;
  padding: 4rem 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.Introduction img {
  height: auto;
  /* filter: grayscale(1); */
  width: 100%;
}
.Introduction h1 {
  width: 100%;
}
.Introduction h1 > span {
  display: block;
}
.Introduction h1 .First-Name,
.Introduction h1 .Last-Name {
  font-size: calc(min(1000px, 100vw) / 5);
}
.Introduction h1 .Role {
  font-size: calc(min(1000px, 100vw) / 20);
}
.Introduction h1 .Areas {
  margin-top: 1rem;
}
.Introduction h1 .Areas span {
  font-size: calc(min(1000px, 100vw) / 30);
  font-weight: 200;
  margin-right: 0.5em;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
}
.Introduction h1 .Areas .React {
  color: rgb(8 126 164);
  border-color: rgb(8 126 164);
}
.Introduction h1 .Areas .JS {
  color: #c0af18;
  border-color: #c0af18;
}
.Introduction h1 .Areas .Build {
  color: rgb(195, 24, 24);
  border-color: rgb(195, 24, 24);
}
@media screen and (min-width: 600px) {
  .Introduction {
    flex-direction: row;
  }
  .Introduction h1 {
    width: 50%;
  }
  .Introduction h1 .First-Name,
  .Introduction h1 .Last-Name {
    font-size: calc(min(1000px, 100vw) / 7);
  }
  .Introduction h1 .Role {
    font-size: calc(min(1000px, 100vw) / 30);
  }
  .Introduction h1 .Areas span {
    font-size: calc(min(1000px, 100vw) / 50);
  }
  .Introduction img {
    width: 50%;
  }
}
.Skills {
  display: flex;
  overflow: visible;
  flex-direction: column;
}
.Skills > div {
  width: 100%;
  padding-bottom: 2rem;
}

.Skill-Cards {
  transform-origin: center;
  position: relative;
  animation: rotating 15s linear infinite;
  aspect-ratio: 1/1;
  width: 50%;
}
.Skill-Cards:hover,
.Paused,
.Skill-Cards:hover .Skill,
.Paused .Skill {
  animation-play-state: paused;
}
.Skill {
  position: absolute;
  animation: orientation 15s linear infinite;
  z-index: 10;
  width: 20%;
  height: fit-content;
  transform: translate(-50%, 50%);
  transform-origin: bottom left;
  transition: 0.3s;
}
.Skill.Large {
  bottom: 50% !important;
  left: 50% !important;
  max-height: 50%;
  max-width: 50%;
  width: 35%;
}
.Skill.Large img {
  filter: grayscale(0);
}
.Skill button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.Skill img {
  width: 100%;
  /* filter: grayscale(0); */
}
.Skill:not(.Large) button:hover + .Tooltip {
  opacity: 1;
}
.Skill p {
  display: none;
}
.Skill .Tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  transform: translateX(-50%);
  left: 50%;
  top: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 50;
  text-align: center;
}
.Skill .Tooltip::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent black transparent;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.Skills-Info .Placeholder {
  transition: 0.3s;
}
.Skills-Info .Placeholder-Height {
  transition: 0.3s;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes orientation {
  from {
    transform: rotate(0deg) translate(-50%, 50%);
  }
  to {
    transform: rotate(-360deg) translate(-50%, 50%);
  }
}
@media screen and (min-width: 600px) {
  .Skills {
    flex-direction: row;
  }
  .Skills > div {
    width: 50%;
  }
}
