section {
  display: flex;
  flex-direction: column;
}
.Group {
  width: 100%;
  position: relative;
}
.Group:nth-child(even) img {
  left: 150%;
  top: 50%;
}
.Group:nth-child(odd) img {
  right: 75%;
  top: 50%;
}
.Group:nth-child(odd) {
  align-self: flex-end;
}
.About img {
  border-radius: 50%;
  width: 75%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: auto;
  display: block;
  transition: opacity 0.5s;
  opacity: 1;
}
.About img {
  filter: grayscale(0);
  background-color: rgb(49, 215, 201);
}
.About img.portrait {
  object-position: top;
}
.About img.cabriolet {
  object-position: 75% 25%;
}

@media screen and (min-width: 600px) {
  .Group {
    width: 50%;
  }
  .About img {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
